<div class="form">
  <div class="errors"></div>
  <input class="form-control" type="text" style="display:none" class="graphVertexId" value="{{ graphVertexId }}">

  <textarea class="form-control" placeholder="{{ i18n 'detail.comment.field.placeholder' }}">{{ commentText }}</textarea>
  <div class="visibility"></div>

  <div class="buttons">
    <button class="btn btn-link btn-small cancel">{{ i18n 'detail.comment.form.button.cancel' }}</button>
    <button class="btn btn-small btn-blue">{{ i18n 'detail.comment.form.button' }}</button>
  </div>
</div>
