<li class="nav-header"><h5>{{ i18n 'workspaces.list.header' }}</h5></li>

<li class="new-workspace">
  <div class="input-group">
    <input class="new form-control" name="title" type="text" placeholder="{{ i18n 'workspaces.form.name.placeholder' }}" />
    <span class="input-group-btn">
        <button class="new btn btn-success">{{ i18n 'workspaces.form.button.add' }}</button>
    </span>
  </div>
  <span class="add-title-error">{{ i18n 'workspaces.form.title.unique.error' }}</span>
</li>

<li class="divider"></li>

<li class="nav-header"><h5>{{ i18n 'workspaces.list.shared_with_me' }}</h5></li>

