<div class="scroller">
    <ul class="share-list nav nav-list">
        {{#if editable}}
            <li class="nav-header">{{ i18n 'workspaces.form.header'}}</li>

            <li>
                <input class="workspace-title form-control" type="text" value="{{ workspace.title }}" required>
                <span class="form-title-error">{{ i18n 'workspaces.form.title.unique.error' }}</span>
            </li>

            <li style="display: none">
                <label>
                    <input type="checkbox" class="workspace-staging" style="width: 2em" {{#if workspace.staging}}checked{{/if}} required>
                    <span>Enable staging</span>
                </label>
            </li>
        {{/if}}

        <li class="nav-header share-header">{{ i18n 'workspaces.form.sharing' }}<span class="badge loading"/></li>

        <li class="share-form" style="display:none">
        </li>
    </ul>

    <div class="buttons">
        {{#if editable}}
            <button class="delete btn btn-danger btn-raised"> {{ i18n 'workspaces.form.button.delete' }}</button>
        {{/if}}
    </div>
</div>

