{{#if displayTime}}
  <div class="input-group dateField">
    <input type="text"
      data-provide="datepicker"
      placeholder="{{today}}"
      value="{{dateString}}"
      required="required"
      class="date form-control">
    <input type="text"
      placeholder="{{timeString}}"
      pattern="\d+(:\d)?(\s*[amAMpmPM])?"
      value="{{timeString}}"
      class="timepicker form-control">
    <span class="add-on timezone"></span>
  </div>
{{else}}
  <input data-provide="datepicker" placeholder="{{today}}"
    value="{{dateString}}" type="text" required class="form-control"/>
{{/if}}
