<span class="mapping-buttons">
  <button class="btn btn-warning btn-raised btn-sm cancel-mapping">{{ i18n 'csv.file_import.mapping.cancel' }}</button>
  <button class="btn btn-primary btn-raised btn-sm add-mapping" disabled>{{ i18n 'csv.file_import.mapping.save' }}</button>
</span>

Auto-map to:

<select class="entity custom-select form-control">
    <option value="" selected>{{ i18n 'csv.file_import.entities.new' }}</option>
    {{#each vertices }}
        <option value="{{ id }}">{{ displayName }}</option>
    {{/each}}
</select>

<div class="new-entity" style="display: none;">
    <div class="form-row m-t-1">
        <div class="concept"></div>
        <div class="entity-visibility"></div>
    </div>
</div>
